html .mceContentBody {
	max-width: 550px;
}

body,
pre,
code,
.mceContentBody blockquote,
.mceContentBody blockquote p {
	font-family: "Muli", sans-serif !important;
	font-size:   18px;
	color:       #555;
}

h1, h2, h3, h4, h5, h6 {
	font-family:    "Libre Baskerville", serif;
	font-weight:    normal;
	text-transform: none;
	letter-spacing: normal;
	color:          #484848;
}

h1 {
	font-size:   2em;
	line-height: 1.6em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.2em;
}

pre {
	overflow: scroll;
}

code {
	background-color: #e3e3e3;
	color:            #454545;
	padding:          2px 5px;
}

blockquote {
	background-color: #E5F2F8;
	padding:          2px 7px;
}

	blockquote p {
		margin: 0;
	}
